
.card-container {
    width: 470px;
    overflow: hidden;
    box-shadow:  0px 0px 15px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 60px;
    transition: 0.3s;
    animation: ease-in;
    padding: 30px;
    font-weight: 100;
   
    margin-left: 40px;

}


.card-content {
    width: 400px;
    text-align: justify;
    font-weight: 100;
}

.image-container img {
    width: 460px;
    height: 230px;
}

.btn {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    border-left: 5px solid rgb(230, 230, 123);
}

.footie{
    margin-left: 10px;
}


.btn1 {
    display: flex;
    justify-content: flex-start;
    border-left: 5px solid rgb(230, 230, 123);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: large;
}

.footie1{
    margin-left: 10px;
}



.card-body {
    font-weight: 100;
    color: rgb(131, 125, 125); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.card-title{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}